.bar-chart
  width: 100%
  
  .bar-chart-background
    background: red
    height: 20px
    position: relative

  .bar-chart-bar
    background: lime
    height: 20px
    position: absolute
    top: 0
    width: 0%
