#feedback > h3
  text-align: center

.report-card-browser
  margin-top: 3em

  h3 
    line-height: 1.7
    img
      width: 2em
      float: left
      padding-right: 0.3em

.report-card-section
  h4
    margin-bottom: 0.5em

.bar-chart
  width: 100%
  .bar-chart-background, .bar-chart-bar
    display: inline-block
    height: 1.2em
  
  .bar-chart-background
    width: 100%
    background: red
    position: relative

  .bar-chart-bar
    background: limegreen
    position: absolute
    top: 0
    width: 0%
