@import _define
@import _reset

// style.styl
@import _define
@import _reset
@import graph

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

::-webkit-input-placeholder
  color: #aaa
  font-weight: 200

:-moz-placeholder
  color: #aaa
  font-weight: 200

::-moz-placeholder 
  color: #aaa
  font-weight: 200

body
  helv()
  background: url(http://andyet.com/images/header.png)
  background-position: top center
  background-repeat: no-repeat

.wrap
  width: 760px
  margin: 150px auto

h1
  text-align: center
  font-size: 50px
  margin-bottom: 0
  color: #333

h2
  font-weight: 200
  color: #333
  font-size: 30px
  margin: 0 0 10px 0
  padding: 0 0 10px 0

p
  margin: 10px 0

p + h2 
  margin-top: 40px

a:link, a:visited
  color: #12ACEF

.card
  border: 1px solid #eee
  margin: 20px auto
  padding: 20px 40px 40px 40px
  shadow: rgba(0,0,0,.05) 0 2px 10px

  h2
    border-bottom: 1px solid #eee
    text-align: center

.card + .card
  margin-top: 40px

td
  border: 1px solid #fff
  width: 75px

.browsers th, .versions th
  text-align: center
  padding-right: 0px

.browsers 
  th
    font-size: 13px
    text-transform: uppercase
    text-decoration: underline
    font-weight: normal
    color: #777

  img
    width: 48px
    margin-bottom: 10px

tr.about 
  display: none

  td
    font-size: 13px
    padding: 5px
    color: #555
    background-color: #fafafa
    border-bottom: 10px solid #fff

.versions th
  font-weight: bold
  font-size: 13px
  padding-bottom: 10px

th
  text-align: right
  font-weight: normal
  font-size: 13px
  padding-right: 10px

  a:link, a:visited
    color: #333
    cursor: help

.yes
  background: limegreen

.inc
  background: gold

.no
  background: red

section + section
  margin-top: 60px

article
  float: left
  width: 60%
  box-sizing: border-box

aside
  float: right
  width: 33%
  box-sizing: border-box
  background: #fafafa
  padding: 10px
  text-align: center

  h3
    font-size: 16px
    margin-bottom: 10px

  p
    text-align: left
    margin: 10px 0 
    font-size: 13px

.talky
  width: 100px
  margin: 10px auto
  display: block

@media (max-width: 760px)
  .wrap
    width: 320px
    margin-top: 80px

  article, aside
    float: none
    width: 100%
    padding: 0 20px

  aside
    margin-top: 40px

  body
    background-size: 200%

  h1
    font-size: 40px
    line-height: 1
    margin-bottom: 30px

  h2
    font-weight: bold
    font-size: 22px
    padding-bottom: 5px
    margin-bottom: 10px

  .browsers img
    width: 24px
    margin-bottom: 3px

  .versions
    display: none

  th
    font-size: 11px

  td
    height: 30px

  #support
    padding: 10px
