
/* line 1 : /Applications/LiveReload.app/Contents/Resources/Stylus.lrplugin/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/latentflip/Projects/andyet/iswebrtcreadyyet.com/graph.styl */
.bar-chart {
  width: 100%;
}

/* line 4 : /Users/latentflip/Projects/andyet/iswebrtcreadyyet.com/graph.styl */
.bar-chart .bar-chart-background {
  background: #f00;
  height: 20px;
  position: relative;
}

/* line 9 : /Users/latentflip/Projects/andyet/iswebrtcreadyyet.com/graph.styl */
.bar-chart .bar-chart-bar {
  background: #0f0;
  height: 20px;
  position: absolute;
  top: 0;
  width: 0%;
}
